<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table users</title>
</head>
<body>
<table border="1">
    <caption>Table users</caption>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>age</th>
        <th>password</th>
        <th>e-mail</th>
        <th>ROLE</th>
        <th>Operations</th>
    </tr>
    <th:block th:each="user : ${users}">
        <tr>
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"/>
            <td th:text="${user.age}"/>
            <td th:text="${user.password}"/>
            <td th:text="${user.email}"/>
            <td th:text="${user.roles}"/>
            <td>
                <form th:action="@{/admin/{id}/edit(id=${user.getId()})}">
                    <input type="submit" value="Edit"/>
                </form>
                <form th:action="@{/admin/{id}/delete(id=${user.id})}">
                    <input type="submit" value="Delete"/>
                </form>
            </td>

        </tr>
    </th:block>
</table>
<br/>
<form th:action="@{/admin/new}">
    <input type="submit" value="Creat new User"/>
</form>
<br/>
<form th:action="@{/logout}">
    <input type="submit" value="LOGOUT"/>
</form>
</body>
</html>